.menu {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu h3 {
    color: gainsboro;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}