.eventCard {
    display: flex;
    padding: 1rem;
    margin: 2rem 0;
    background-color: green;
}

.eventImage {
    width: 30rem;
}

.eventImage img {
    width: 100%;
    height: auto;
}

.eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 2rem;
}

.eventDetails h1 {
    padding-bottom: 0;
}

.eventDetails h4 {
    padding-top: 0;
}