.eventCard {
    display: flex;
    padding: 1rem;
    margin: 2rem 0;
    border: 0.1rem solid white;
}

.eventImage {
    width: 30rem;
}

.eventImage img {
    width: 100%;
    height: auto;
}

.eventDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 2rem;
}

.eventDetails h1 {
    padding-bottom: 0;
}

.eventDetails h4 {
    padding-top: 0;
}

.eventMenu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.eventProduct {
    color: grey;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    padding: 1rem;
    margin: 0 1rem;
}