.appHeader {
    width: 80%;
    height: var(--headerHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.branding {
    padding-left: 2rem;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.branding h1 {
    text-transform: uppercase;
}

.navigation {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navLinks li {
    font-size: 1.6rem;
    margin: 0 2rem;
    cursor: pointer;
}